@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/* SIDE ONE Start */

.side-one-return {
  color: black;
  background-color: #ffffff;
  font-family: 'Crimson Text', serif;
}

.sideone-sidebar-main-flexbox {
  display: flex;
}

/* navbar & header Start */
.sideone-sidebar-main-flexbox nav {
  /* border: 5px solid white; */
  height: 90vh;
  width: 20vw;
  min-width: 24rem;
  padding: 2rem;
  overflow: scroll;
  /* padding-top: 20px; */
}

@media (max-width: 800px) {
  .sideone-sidebar-main-flexbox nav {
    display: none;
  }
}

.sideone-sidebar-main-flexbox nav::-webkit-scrollbar {
  display: none;
}

.sideone-sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sideone-nav-header {
  margin: 3rem 0;
}

.sideone-link-cats {
  font-size: 2.5rem;
}

.sideone-link-cats__cat:hover {
  color: #777;
  cursor: pointer;
}

/* ---toggle visibility on nav Start */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}
/* ---toggle visibility on nav End */

.category {
  border-left: .2rem solid #777;
  padding-left: .5rem;
  font-size: 2rem;
  animation: growDown 1s ease-out;
  /* border-left: 5px solid red; */
  list-style: none;
}

.category:hover {
  cursor: pointer;
}

.category__item {
  display: block;
  font-size: 1.5rem;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

/* navbar & header end */

.sideone-sidebar-main-flexbox main {
  /* border: 5px solid red; */
  height: 90vh;
  width: 80vw;
  padding: 20px;
  padding-top: 40px;
  overflow: scroll;
}

@media (max-width: 800px) {
  .sideone-sidebar-main-flexbox main {
    width: 100vw;
  }
}

/* Hide Scrollbar for Chrome, Safari and Opera */
.sideone-sidebar-main-flexbox main::-webkit-scrollbar {
  display: none;
}

/* Hide Scrollbar for IE, Edge and Firefox */
.sidebar-main-flexbox main {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* SIDE ONE End */