.landing-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background-color: transparent;
    animation: 1s ease-in 0s 1 slideFromTop;
}

.landing-logo {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    font-family: 'Lemon', cursive;
    width: 35%;
}

.landing-logo-img {
    max-width: 8rem;
    transform: rotate(8deg);
}

.landing-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}


.landing-logo-h1 {
    font-size: 4rem;
    text-shadow: 3px 3px 2px #1537ff, -3px -3px 2px #1537ff, 3px -3px 2px #1537ff, -3px 3px 2px #1537ff;
}

.landing-logo-p {
    text-shadow: 2px 2px 2px #1537ff, -2px -2px 2px #1537ff, 2px -2px 2px #1537ff, -2px 2px 2px #1537ff;
}



.landing-nav {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
}

.landing-nav a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    font-size: 2rem;
    color: white;
    border-left: 1px solid #2469ac;
    padding: .5rem 2rem;
    text-decoration: none;
}



.landing-nav a:hover> {
    border-bottom: 2px solid white;
}

.landing-nav a:hover>.landing-nav-img {
    transform: rotate(745deg);
}

.landing-nav-img {
    width: 3rem;
    transition-duration: 1.2s;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}