@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: pink;
  background-color: #1e1e1e;
}

/* HOME Start */

.home-return {
  font-size: 1.6rem;
}

/* HOME End */

/* FOOTER Start  */

#drew-font-one {
  font-family: 'Times New Roman', Times, serif;
}

#drew-font-two {
  font-family: 'Berkshire Swash';
}

#zach-font {
  font-family: 'Kdam Thmor Pro', sans-serif;
}